In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\ggnym\Downloads\LeanTaaS Infusion Data Analyst Intern Assignment\LeanTaaS_Infusion_Data_Analyst_Intern_Assignment.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   INPATIENT_DATA_ID_x  767 non-null    object
 1   DEPARTMENT_ID        767 non-null    object
 2   DEPARTMENT_NAME      767 non-null    object
 3   VISIT_TYPE           767 non-null    object
 4   APPT_LENGTH          767 non-null    int64
 5   APPT_STATUS_NAME     767 non-null    object
 6   CONTACT_DATE         767 non-null    object
 7   APPT_DTTM            767 non-null    object
 8   CHECKIN_DTTM         709 non-null    object
 9   CHECKOUT_DTTM        380 non-null    object
 10  APPT_MADE_DATE       767 non-null    object
 11  APPT_CANC_DATE       47 non-null     object
 12  CHAIR_START          708 non-null    object
 13  INFUSION_START       585 non-null    object
 14  INFUSION_END         571 non-null    object
 15  CHAIR_OUT            0 non-null      float64
 16  ORDER_DESCRIPTION    585 non-null    object
 17  ORDER_STATUS         767 non-null    object
 18  CHAIR                767 non-null    object
 19  Unnamed: 19          159 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 120.0+ KB

# Issue 01

In [4]:
#CHAIR_OUT seems like there are no actual data. Filled with only NaN
df['CHAIR_OUT'].unique()

array([nan])

# Issue 02

In [5]:
df.head()

,INPATIENT_DATA_ID_x,DEPARTMENT_ID,DEPARTMENT_NAME,VISIT_TYPE,APPT_LENGTH,APPT_STATUS_NAME,CONTACT_DATE,APPT_DTTM,CHECKIN_DTTM,CHECKOUT_DTTM,APPT_MADE_DATE,APPT_CANC_DATE,CHAIR_START,INFUSION_START,INFUSION_END,CHAIR_OUT,ORDER_DESCRIPTION,ORDER_STATUS,CHAIR,Unnamed: 19
0,APTT001,DEPT001,INFUSION Department,INFUSION 30 MIN,30,Arrived,10/31/21,2021-10-31 02:00PM,2021-10-31 01:28PM,NaN,10/3/21,NaN,1:40 PM,NaN,NaN,NaN,NaN,*Unspecified Order Status,Chair 1,NaN
1,APTT002,DEPT001,INFUSION Department,INFUSION 2 HR,150,Arrived,10/31/21,2021-10-31 12:00PM,2021-10-31 12:21PM,NaN,10/3/21,NaN,1:15 PM,NaN,NaN,NaN,NaN,*Unspecified Order Status,Chair 2,NaN
2,APTT003,DEPT001,INFUSION Department,INFUSION 4 HR,270,Arrived,10/31/21,2021-10-31 01:00PM,2021-10-31 12:52PM,NaN,10/14/21,NaN,1:15 PM,1:15 PM,3:20 PM,NaN,ARSENIC TRIOXIDE IN D5W/NS 250 ML IVPB,Completed [5],Chair 2,NaN
3,APTT004,DEPT001,INFUSION Department,INFUSION 1 HR,90,Completed,10/31/21,2021-10-31 09:00AM,2021-10-31 08:50AM,2021-10-31 12:41PM,9/19/21,NaN,9:20 AM,11:15 AM,11:55 AM,NaN,PEMBROLIZUMAB 200 MG IN NS 59 ML,Completed [5],Chair 3,NaN
4,APTT005,DEPT001,INFUSION Department,INFUSION 2 HR,150,Canceled,10/31/21,2021-10-31 02:00PM,NaN,NaN,10/24/21,10/31/21,NaN,NaN,NaN,NaN,NaN,*Unspecified Order Status,Chair 4,NaN

In [6]:
#The type of the dates and times are formated as objects and as seen above, 
#we can see that they are not constant either.
df[['CONTACT_DATE', 'APPT_DTTM', 'CHECKIN_DTTM', 'CHECKOUT_DTTM', 'APPT_MADE_DATE', 'APPT_CANC_DATE', 'CHAIR_START', 'INFUSION_START', 'INFUSION_END']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CONTACT_DATE    767 non-null    object
 1   APPT_DTTM       767 non-null    object
 2   CHECKIN_DTTM    709 non-null    object
 3   CHECKOUT_DTTM   380 non-null    object
 4   APPT_MADE_DATE  767 non-null    object
 5   APPT_CANC_DATE  47 non-null     object
 6   CHAIR_START     708 non-null    object
 7   INFUSION_START  585 non-null    object
 8   INFUSION_END    571 non-null    object
dtypes: object(9)
memory usage: 54.1+ KB

# Issue 03

In [7]:
#Check for duplicates based on Patient ID
df['INPATIENT_DATA_ID_x'].duplicated().sum()

344

In [8]:
# Visualize the rows that are duplicated. We see that duplicates are identical
df[df['INPATIENT_DATA_ID_x'].duplicated(keep=False)]

,INPATIENT_DATA_ID_x,DEPARTMENT_ID,DEPARTMENT_NAME,VISIT_TYPE,APPT_LENGTH,APPT_STATUS_NAME,CONTACT_DATE,APPT_DTTM,CHECKIN_DTTM,CHECKOUT_DTTM,APPT_MADE_DATE,APPT_CANC_DATE,CHAIR_START,INFUSION_START,INFUSION_END,CHAIR_OUT,ORDER_DESCRIPTION,ORDER_STATUS,CHAIR,Unnamed: 19
11,APTT012,DEPT001,INFUSION Department,BLOOD PRODUCT TRANSFUSION,240,Arrived,10/31/21,2021-10-31 07:00AM,2021-10-31 08:05AM,NaN,10/6/21,NaN,8:35 AM,3:15 PM,NaN,NaN,MAGNESIUM SULFATE 2 G IN NS 100 ML IVPB PREMIX,Verified [10],Chair 7,NaN
12,APTT012,DEPT001,INFUSION Department,BLOOD PRODUCT TRANSFUSION,240,Arrived,10/31/21,10/31/21 7:00,2021-10-31 08:05AM,NaN,10/6/21,NaN,8:35 AM,9:00 AM,11:00 AM,NaN,ARSENIC TRIOXIDE IN D5W/NS 250 ML IVPB,Completed [5],Chair 7,NaN
14,APTT014,DEPT001,INFUSION Department,INFUSION 3 HR,180,Completed,10/31/21,2021-10-31 08:00AM,2021-10-31 08:35AM,2021-10-31 01:52PM,10/18/21,NaN,10:30 AM,10:15 AM,12:20 PM,NaN,BLEOMYCIN SULFATE 15 UNITS IJ SOLR,Completed [5],Chair 6,NaN
15,APTT014,DEPT001,INFUSION Department,INFUSION 3 HR,180,Completed,10/31/21,2021-10-31 08:00AM,2021-10-31 08:35AM,2021-10-31 01:52PM,10/18/21,NaN,10:30 AM,10:15 AM,12:50 PM,NaN,DACARBAZINE IN NS/D5W INFUSION,Completed [5],Chair 6,NaN
16,APTT014,DEPT001,INFUSION Department,INFUSION 3 HR,180,Completed,10/31/21,2021-10-31 08:00AM,2021-10-31 08:35AM,2021-10-31 01:52PM,10/18/21,NaN,10:30 AM,10:15 AM,10:07 AM,NaN,FAMOTIDINE 20 MG/2ML IV SOLN,Completed [5],Chair 6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,APTT407,DEPT001,INFUSION Department,INFUSION 2 HR,120,Arrived,11/4/21,2021-11-04 12:30PM,2021-11-04 12:19PM,NaN,10/31/21,NaN,12:50 PM,2:30 PM,3:07 PM,NaN,SODIUM CHLORIDE 0.9 % FOR IN OFFICE HYDRATION,11/4,Completed [5],Chair 24
754,APTT413,DEPT001,INFUSION Department,INFUSION 2 HR,150,Completed,11/4/21,2021-11-04 10:00AM,2021-11-04 01:19PM,2021-11-04 04:27PM,11/4/21,NaN,1:30 PM,1:45 PM,1:45 PM,NaN,SODIUM CHLORIDE 0.9 % BOLUS,11/4,Completed [5],Chair 3
755,APTT413,DEPT001,INFUSION Department,INFUSION 2 HR,150,Completed,11/4/21,2021-11-04 10:00AM,2021-11-04 01:19PM,2021-11-04 04:27PM,11/4/21,NaN,1:30 PM,1:11 PM,NaN,NaN,ONDANSETRON HCL 4 MG/2ML IJ SOLN,11/4,Verified [10],Chair 3
759,APTT417,DEPT001,INFUSION Department,INFUSION 4 HR,270,Arrived,11/4/21,11/4/21 15:00,2021-11-04 02:10PM,NaN,11/4/21,NaN,4:00 PM,2:45 PM,7:30 PM,NaN,MAGNESIUM SULFATE IN NS/D5W 100 ML IVPB,11/4,Completed [5],Chair 22
760,APTT417,DEPT001,INFUSION Department,INFUSION 4 HR,270,Arrived,11/4/21,11/4/21 15:00,2021-11-04 02:10PM,NaN,11/4/21,NaN,4:00 PM,2:45 PM,6:30 PM,NaN,SODIUM CHLORIDE 0.9 % BOLUS,11/4,Completed [5],Chair 22

# Issue 04

In [9]:
# Change Date and Time to Datetime type
df['CHECKIN_DTTM'] = pd.to_datetime(df['CHECKIN_DTTM'])
df['CHAIR_START'] = pd.to_datetime(df['CHAIR_START'])
df['CHECKOUT_DTTM'] = pd.to_datetime(df['CHECKOUT_DTTM'])
df['INFUSION_START'] = pd.to_datetime(df['INFUSION_START'])
df['INFUSION_END'] = pd.to_datetime(df['INFUSION_END'])

In [10]:
# I want to see if there are any discrepancies in procedure and times recorded in the dataset
START_EARLY = df.loc[df['CHAIR_START'].dt.time < df['CHECKIN_DTTM'].dt.time]
START_EARLY[['CHAIR_START', 'CHECKIN_DTTM']].apply(lambda x: x.dt.time)

    CHAIR_START CHECKIN_DTTM
104    12:30:00     12:34:00
105    12:30:00     12:34:00
106    09:10:00     09:12:00
174    07:00:00     07:01:00
238    12:40:00     13:03:00
239    12:40:00     13:03:00
240    12:40:00     13:03:00
247    07:00:00     07:05:00
248    09:15:00     09:17:00
279    12:30:00     12:47:00
291    13:00:00     13:01:00
344    07:00:00     07:05:00
360    09:10:00     09:42:00
361    09:10:00     09:42:00
362    09:10:00     09:42:00
392    10:15:00     10:16:00
412    12:00:00     15:15:00
413    12:00:00     15:15:00
417    12:45:00     14:06:00
489    09:25:00     09:45:00
492    12:26:00     12:33:00
493    12:26:00     12:33:00
494    12:26:00     12:33:00
495    12:26:00     12:33:00
496    12:26:00     12:33:00
497    12:26:00     12:33:00
524    11:40:00     12:06:00
565    10:00:00     10:01:00
571    12:00:00     12:04:00
578    13:00:00     13:04:00
579    13:00:00     13:04:00
580    13:00:00     13:04:00
581    13:00:00     13:04:00
582    13:00:00     13:04:00
583    13:00:00     13:04:00
584    13:00:00     13:04:00
596    13:40:00     13:41:00
597    13:40:00     13:41:00
600    13:00:00     15:00:00
692    07:00:00     07:10:00
740    11:00:00     11:07:00

In [11]:
INFUSE_EARLY = df.loc[df['INFUSION_START'].dt.time < df['CHAIR_START'].dt.time]
INFUSE_EARLY[['CHAIR_START', 'INFUSION_START']].apply(lambda x: x.dt.time)

    CHAIR_START INFUSION_START
14     10:30:00       10:15:00
15     10:30:00       10:15:00
16     10:30:00       10:15:00
17     10:30:00       10:15:00
18     10:30:00       10:15:00
..          ...            ...
756    13:30:00       07:00:00
758    14:30:00       10:00:00
759    16:00:00       14:45:00
760    16:00:00       14:45:00
764    14:55:00       14:15:00

[152 rows x 2 columns]

In [12]:
CHECKOUT_EARLY = df.loc[df['CHECKOUT_DTTM'].dt.time < df['INFUSION_END'].dt.time]
CHECKOUT_EARLY[['INFUSION_END', 'CHECKOUT_DTTM']].apply(lambda x: x.dt.time)

    INFUSION_END CHECKOUT_DTTM
17      22:05:00      13:52:00
36      23:40:00      14:00:00
76      15:45:00      13:00:00
77      22:10:00      13:00:00
78      15:20:00      13:00:00
80      16:20:00      13:00:00
90      23:52:00      16:31:00
104     17:59:00      16:33:00
152     15:25:00      15:17:00
156     13:10:00      13:09:00
173     22:05:00      13:57:00
198     12:26:00      10:10:00
200     13:35:00      10:10:00
214     20:07:00      15:37:00
228     22:23:00      14:11:00
268     15:50:00      13:30:00
269     14:30:00      13:30:00
270     14:20:00      13:30:00
271     14:50:00      13:30:00
272     16:20:00      13:30:00
345     19:10:00      16:45:00
348     19:10:00      16:45:00
361     19:46:00      14:46:00
389     21:05:00      16:45:00
401     19:38:00      15:04:00
410     16:10:00      15:38:00
417     17:59:00      16:13:00
455     17:45:00      13:52:00
463     12:19:00      12:15:00
502     15:15:00      13:54:00
535     15:22:00      13:36:00
539     12:00:00      11:53:00
540     12:55:00      11:53:00
563     18:17:00      14:42:00
574     15:40:00      15:15:00
587     15:10:00      13:55:00
653     15:45:00      15:10:00
704     18:26:00      12:47:00
727     15:15:00      15:00:00
742     18:46:00      16:26:00

# Issue 05

In [13]:
#Don't know what Unnamed: 19 means. 
df['Unnamed: 19'].unique()
#It seems like Unnamed: 19 data is from CHAIR.

array([nan, 'Chair 12', 'Chair 18', 'Chair 25', 'Chair 6', 'Chair 11',
       'Chair 31', 'Chair 15', 'Chair 29', 'Chair 22', 'Chair 17',
       'Chair 16', 'Chair 20', 'Chair 26', 'Chair 14', 'Chair 23',
       'Chair 28', 'Chair 5', 'Chair 24', 'Chair 13', 'Chair 9',
       'Chair 27', 'Chair 21', 'Chair 1', 'Chair 4', 'Chair 19',
       'Chair 2', 'Chair 30', 'Chair 3', 'Chair 7', 'Chair 8', 'Chair 10'],
      dtype=object)

In [14]:
#Let's see which row this data starts.
df[(df['Unnamed: 19'].notnull())][['Unnamed: 19', 'CHAIR']]
#It looks like CHAIR from rows 608 and onward (608 + 158 = 766) is data from ORDER_STATUS

    Unnamed: 19          CHAIR
608    Chair 12  Completed [5]
609    Chair 12  Completed [5]
610    Chair 12  Completed [5]
611    Chair 12  Completed [5]
612    Chair 18  Completed [5]
..          ...            ...
762     Chair 9  Completed [5]
763    Chair 10  Completed [5]
764    Chair 24  Completed [5]
765    Chair 18  Completed [5]
766     Chair 8  Verified [10]

[159 rows x 2 columns]

In [15]:
#Need to check if ORDER_STATUS has inconsistent data.
df['ORDER_STATUS'].unique()
#11/4 seems inconsistent and a date.

array(['*Unspecified Order Status', 'Completed [5]', 'Verified [10]',
       'Discontinued [9]', 'Dispensed [11]', '11/4'], dtype=object)

In [16]:
#Check all four columns and their possible relationships from rows 608 and onward.
print(df.loc[608:, ['Unnamed: 19', 'CHAIR', 'ORDER_STATUS', 'APPT_DTTM']])
#Figured out that 11/4 is the appointment date.

    Unnamed: 19          CHAIR ORDER_STATUS            APPT_DTTM
608    Chair 12  Completed [5]         11/4  2021-11-04  10:00AM
609    Chair 12  Completed [5]         11/4  2021-11-04  10:00AM
610    Chair 12  Completed [5]         11/4  2021-11-04  10:00AM
611    Chair 12  Completed [5]         11/4  2021-11-04  10:00AM
612    Chair 18  Completed [5]         11/4  2021-11-04  09:30AM
..          ...            ...          ...                  ...
762     Chair 9  Completed [5]         11/4  2021-11-04  01:30PM
763    Chair 10  Completed [5]         11/4  2021-11-04  03:30PM
764    Chair 24  Completed [5]         11/4  2021-11-04  01:30PM
765    Chair 18  Completed [5]         11/4  2021-11-04  12:00PM
766     Chair 8  Verified [10]         11/4  2021-11-04  04:00PM

[159 rows x 4 columns]

# B. Solution

In [17]:
#Drop any duplicate patients in the data
df.drop(df[df['INPATIENT_DATA_ID_x'].duplicated(keep=False)].index, inplace=True)
#Replace data from rows 608 and down from CHAIR to ORDER_STATUS
df.loc[608:, "ORDER_STATUS"] = df.loc[608:, "CHAIR"]
#Replace data from rows 608 and down from Unnamed: 19 to CHAIR
df.loc[608:, "CHAIR"] = df.loc[608:, "Unnamed: 19"]
#Drop the unnecesary column, Unnamed: 19
df = df.drop(columns=['Unnamed: 19'])

In [18]:
print(df.loc[608:, [ 'CHAIR', 'ORDER_STATUS', 'APPT_DTTM']])

        CHAIR               ORDER_STATUS            APPT_DTTM
616  Chair 25  *Unspecified Order Status  2021-11-04  09:30AM
617   Chair 6              Completed [5]  2021-11-04  01:00PM
618  Chair 11              Completed [5]  2021-11-04  07:00AM
619  Chair 31              Completed [5]  2021-11-04  09:00AM
620  Chair 15  *Unspecified Order Status  2021-11-04  02:00PM
621  Chair 29  *Unspecified Order Status  2021-11-04  11:30AM
627  Chair 17              Completed [5]  2021-11-04  07:00AM
631  Chair 20  *Unspecified Order Status  2021-11-04  11:00AM
632   Chair 6              Completed [5]  2021-11-04  09:00AM
633  Chair 31  *Unspecified Order Status  2021-11-04  07:00AM
643  Chair 26              Completed [5]  2021-11-04  08:30AM
650  Chair 28  *Unspecified Order Status  2021-11-04  01:00PM
655  Chair 24              Completed [5]  2021-11-04  08:00AM
656  Chair 12              Completed [5]  2021-11-04  02:00PM
659  Chair 17              Completed [5]  2021-11-04  11:00AM
668  Chair 13              Completed [5]  2021-11-04  07:00AM
673  Chair 27              Completed [5]  2021-11-04  08:00AM
674  Chair 25              Completed [5]  2021-11-04  08:00AM
692  Chair 29  *Unspecified Order Status  2021-11-04  07:00AM
693   Chair 4              Completed [5]  2021-11-04  07:00AM
700  Chair 18              Completed [5]  2021-11-04  07:00AM
701  Chair 31  *Unspecified Order Status  2021-11-04  12:00PM
704  Chair 19           Discontinued [9]  2021-11-04  07:00AM
717   Chair 2  *Unspecified Order Status  2021-11-04  08:00AM
721   Chair 9              Completed [5]  2021-11-04  10:30AM
722  Chair 15  *Unspecified Order Status  2021-11-04  12:30PM
723  Chair 26  *Unspecified Order Status  2021-11-04  02:00PM
724  Chair 22  *Unspecified Order Status  2021-11-04  02:00PM
729   Chair 3  *Unspecified Order Status  2021-11-04  09:00AM
730  Chair 25  *Unspecified Order Status  2021-11-04  09:30AM
731  Chair 26  *Unspecified Order Status  2021-11-04  08:00AM
732  Chair 19  *Unspecified Order Status  2021-11-04  10:00AM
733  Chair 28  *Unspecified Order Status  2021-11-04  10:00AM
734   Chair 4  *Unspecified Order Status  2021-11-04  10:00AM
735   Chair 7  *Unspecified Order Status  2021-11-04  10:00AM
736  Chair 11  *Unspecified Order Status  2021-11-04  11:00AM
737  Chair 19  *Unspecified Order Status  2021-11-04  10:30AM
738   Chair 2  *Unspecified Order Status  2021-11-04  12:00PM
739   Chair 8  *Unspecified Order Status  2021-11-04  11:00AM
740  Chair 10  *Unspecified Order Status  2021-11-04  11:00AM
741  Chair 14  *Unspecified Order Status  2021-11-04  11:30AM
749  Chair 29  *Unspecified Order Status  2021-11-04  10:00AM
750   Chair 9              Completed [5]  2021-11-04  01:00PM
751   Chair 5  *Unspecified Order Status  2021-11-04  11:00AM
752  Chair 20  *Unspecified Order Status  2021-11-04  01:00PM
753  Chair 15              Completed [5]  2021-11-04  02:30PM
756  Chair 15              Verified [10]  2021-11-04  01:00PM
757   Chair 4  *Unspecified Order Status  2021-11-04  02:00PM
758   Chair 2              Completed [5]  2021-11-04  02:00PM
761  Chair 18  *Unspecified Order Status  2021-11-04  02:00PM
762   Chair 9              Completed [5]  2021-11-04  01:30PM
763  Chair 10              Completed [5]  2021-11-04  03:30PM
764  Chair 24              Completed [5]  2021-11-04  01:30PM
765  Chair 18              Completed [5]  2021-11-04  12:00PM
766   Chair 8              Verified [10]  2021-11-04  04:00PM

# C. Calculating Wait Times

In [19]:
#Time Differences in Patients Seated After Checking in
START_LATE = df.loc[df['CHAIR_START'].dt.time >= df['CHECKIN_DTTM'].dt.time]
df.loc[START_LATE.index, 'TIME_DIFF (min)'] = (df['CHAIR_START'] - df['CHECKIN_DTTM']).dt.seconds // 60

#Time Differences in Patients Checking Out After being Infused
CHECKOUT_LATE= df.loc[df['CHECKOUT_DTTM'].dt.time >= df['INFUSION_END'].dt.time]
df.loc[CHECKOUT_LATE.index, 'CHECKOUT_INFUSE_DIFF (min)'] = (df['CHECKOUT_DTTM'] - df['INFUSION_END']).dt.seconds // 60

#Time Differences in Patients Infused After being Seated
INFUSE_LATE = df.loc[df['CHAIR_START'].dt.time <= df['INFUSION_START'].dt.time]
df.loc[INFUSE_LATE.index, 'CHAIR_INFUSE_DIFF (min)'] = (df['INFUSION_START'] - df['CHAIR_START']).dt.seconds // 60

In [20]:
mean_checkinbefore = df['TIME_DIFF (min)'].mean()
print("Average Wait of Checking in and then getting Seated: ", f'{mean_checkinbefore:.0f}', "minutes")

mean_checkinbefore = df['CHAIR_INFUSE_DIFF (min)'].mean()
print("Average Wait of Seating in and infusing starting: ", f'{mean_checkinbefore:.0f}', "minutes")

mean_checkinbefore = df['CHAIR_INFUSE_DIFF (min)'].mean()
print("Average Wait of Infusing and then checking out: ", f'{mean_checkinbefore:.0f}', "minutes")

Average Wait of Checking in and then getting Seated:  50 minutes
Average Wait of Seating in and infusing starting:  41 minutes
Average Wait of Infusing and then checking out:  41 minutes